@import './../../paint/paint';

.chart {
    // background-color: black;
    min-height: 70%;
    .bar {
        width: calc(100% /8);
        height: 200px;
        // background-color: black;
        .price {
            background-color: $Dark-brown;
        }
        .bar-main {
            height: 0%;
            transition:height .8s;
            cursor: pointer;
            background-color: $Soft-red;
            &.max {
                background-color: $Cyan;
            }
            &:hover {
                background-color: $Cream;
            }
        }
        .day {
            font-family: med;
            color: $Cyan;
        }
    }
    @media screen and (max-width: 600px) {
        .bar {
            height: 50vh;
        }
    }
}